@charset "utf-8";
/* Created by Jacob Flynn on 21/09/2017, all content and code copyright Jacob Flynn © 2018 */

/*layout styling*/

/*the banner that each section of content is displayed on*/
.FirstContentBanner {
    font-size: 25px;
    background-size: cover;
    padding-bottom: 20px;
}
.contentBanner {
    font-size: 25px;
    background-size: cover;
    padding-bottom: 20px;
}
/*wrap content up in a wrapper to keep them inline*/
.wrapper{
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    text-align: center;
}
/*what to do after for content that has the wrapper class*/
.wrapper:after {
    content: '';
    display: table;
    clear: both;
}
/*each individual column in the wrapper keeping the content left and using padding to space them out*/
.column {
    float: left;
    box-sizing: border-box;
    padding: 10px;
}
/* Grid system For Desktop*/
.large-1 {
    width: 8.666%;
}
.large-2 {
    width: 16.666%;
}
.large-3 {
    width: 25%;
}
.large-4 {
    width: 33.333%;
}
.large-5 {
    width: 41.666%;
}
.large-6 {
    width: 50%;
}
.large-7 {
    width: 58.333%;
}
.large-8 {
    width: 66.666%;
}
.large-9 {
    width: 75%;
}
.large-10 {
    width: 83.333%;
}
.large-11 {
    width: 91.666%;
}
.large-12 {
    width: 100%;
}
.large-hidden {
    display: none;
}
@media screen and (max-width: 807px) {
    /*gridsystem for tablet and smaller desktops*/
    .small-1 {
        width: 8.333%;
    }
    .small-2 {
        width: 16.666%;
    }
    .small-3 {
        width: 25%;
    }
    .small-4 {
        width: 33.333%;
    }
    .small-5 {
        width: 41.666%;
    }
    .small-6 {
        width: 50%;
    }
    .small-7 {
        width: 58.333%;
    }
    .small-8 {
        width: 66.666%;
    }
    .small-9 {
        width: 75%;
    }
    .small-10 {
        width: 83.333%;
    }
    .small-11 {
        width: 91.666%;
    }
    .small-12 {
        width: 100%;
    }
}

/*gridsystem For mobile*/
@media screen and (max-width: 654px) {
    [class*="large-"] {
        width: 100%;
    }
    [class*="small-"] {
        width: 100%;
    }
    /*wont be displayed on small screens*/
    .small-hidden {
        display: none;
    }
}
