/* Created by Jacob Flynn on 21/09/2017, all content and code copyright Jacob Flynn © 2018 */

/*
 margin and padding set as 0
 main colour and font set as default in the body
 */
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #0072CA; }

  /* Start of hamburger menu and styling for each individual link in the hamburger menu */
#menu div a {
  font-weight: bold;
  text-shadow: 3px 3px 3px black;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0; }

  /*
    style and positon of the hamburger
   */
#menu {
  background-color: #0072CA;
  position: fixed;
  height: 100%;
  width: 100%;
  display: none;
  color: white;
  font-size: 40px;
  text-align: center;
  line-height: 100px;
  background-size: cover; }

/*hamburger menu styling*/
#navbar-icon {
  width: 60px;
  height: 45px;
  position: fixed;
  margin: 10px;
  /*transition for the rotation of the hamburger menu*/
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  /* transition with a slow start and slow end*/
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  border: solid 2px black;
  border-radius: 50%;
  background-color: black;
  bottom: 0px;
  right: 0px; }

#navbar-icon span {
  margin-top: 7px;
  display: block;
  position: absolute;
  height: 6px;
  width: 40px;
  margin-left: 10px;
  background: #0072CA;
  border-radius: 9px;
  opacity: 1;
  /*transition of the rotation of the each individual line in the hamburger menu*/
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  /* transition with a slow start and slow end of the span elements in the hamburger menu*/
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#navbar-icon span:nth-child(1) {
  /* position of first span element in the hamburger menu*/
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#navbar-icon span:nth-child(2) {
  /* position of second span element in the hamburger menu*/
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#navbar-icon span:nth-child(3) {
  /* position of third span element in the hamburger menu*/
  top: 24px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

#navbar-icon.open span:nth-child(1) {
  /* rotation of the first span element when the hamburger has been clicked*/
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  transform: rotate(50deg);
  top: -3px;
  left: 8px; }

#navbar-icon.open span:nth-child(2) {
  /*make the second span element disappear when the hamburger menu is clicked*/
  width: 0%;
  opacity: 0; }

/* rotation of the third span element when the hamburger has been clicked*/
#navbar-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
  transform: rotate(-50deg);
  top: 27px;
  left: 8px; }

/*colour of each link in the hamburger when it has been clicked*/
#navbar-icon.active {
  background-color: #0072CA; }

  /* end of hamburger menu and Start of Navbar */
nav ul li {
  float: none;
  display: inline; }

nav ul li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px; }
/* target single link in navbar with id to change its colour */
#offers {
  color: #fd931d; }

/* cursor changs on hover on nav */
nav li a:hover {
  cursor: pointer;; }
/* styling for the whole list aka the navbar*/
nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
  padding: 0; }
/*End of Navbar*/

/* The styling the main header of the webpage*/
#main_header {
  color: white;
  font-weight: 900;
  margin-bottom: 20px; }

/* The styling for the logo in the main header of the webpage*/
#main_header h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif; }

/*Styling for the search bar on main header*/
#main_header input[type=text] {
  padding: 14px;
  border: none;
  font-size: 12px;
  float: right;
  font-weight: 100;
  width: 25%;
  margin-top: 10px; }

/* Styling for the sales banner that sits under the navbar */
#Sale_banner {
  background-color: #fef667;
  color: black;
  font-size: 14px;
  font-weight: bold; }

/* Styling for the second sales banner that sits under the navbar */
#Sale_banner2 {
  background-color: #fef667;
  color: black;
  font-size: 14px;
  font-weight: bold; }

/* Styling for the text in the sales banner that sits under the navbar */
#Sale_banner li {
  padding-bottom: 0;
  padding-top: 10px; }

/* Styling for the text in the second sales banner that sits under the navbar */
#Sale_banner2 li {
  padding-bottom: 10px;
  padding-top: 0px; }

/* Change the overall colour of the header to black */
header {
  background-color: black; }

/* Styling for basket on the main header */
#basket {
  border: 1px #353535;
  background-color: #353535;
  font-size: 12px;
  color: white;
  float: right;
  padding: 15px;
  font-weight: 100;
  text-align: left;
  width: 20%;
  margin-top: 10px; }

/* Styling for the search button next to the search bar */
#searchbutton {
  margin-top: 10px;
  background-color: #43D5B0;
  border: none;
  border-radius: 0%;
  padding: 15px;
  color: black;
  margin-right: 20px;
  float: right; }

/* Styling for my account etc at the stop of the header */
div ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  width: 100%;
  text-align: center;
  padding: 0; }

/* float all the links to the right */
div ul li {
  float: right;
  display: inline; }

/* styling for the individual links */
div ul li a {
  display: inline-block;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  color: #bfbfbf;
  font-size: 12px; }

/* styling for paragraphs */
p {
  margin: 0;
  color: gray; }

/* Styling links */
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px; }

/* when the link gets hoovered over change cursor and font to white */
a:hover {
  cursor: pointer;
  color: white; }


/* Styling for the previous buttons */
.previous {
  background-color: #4CAF50;
  color: black; }

/* Styling for the next buttons */
.next {
  background-color: #4CAF50;
  color: black; }

/* Styling for both previous and next buttons */
.round {
  border-radius: 50%;
  margin-top: 110px; }

/* positioning for the size dropdowns */
.size-dropdown {
  margin-top: 125px; }

.size-dropdown1 {
  margin-top: 300px; }

/* positioning of the add to cart buttons and prices */
.cartandprice {
  margin-top: 115px; }

/* positoning for the select inputs */
select {
  height: 50px; }
/* Styling for buttons */
button {
  padding: 10px;
  border-radius: 10px; }

/* dont Display all ProductImages of the clothes on first load */
.Hats, .Tops, .Shoes, .Pants {
  display: none;
  width: 150px;
  height: 150px; }

/* positioning of the hats */
.Hats {
  margin-top: 100px; }

/* positioning of the tops */
.Tops {
  margin-top: 20px; }

/* positioning of the shoes */
.Shoes {
  margin-top: 50px; }

/* display the first image of all 4 */
.Hats:nth-child(1), .Pants:nth-child(1), .Tops:nth-child(1), .Shoes:nth-child(1) {
  display: block; }

/* the size of the ProductImages */
.Hats > img, .Pants > img, .Tops > img, .Shoes > img {
  max-width: 100%;
  max-height: 100%; }

/* add padding to the sales banner when screen is below 807 pixels */
@media screen and (max-width: 807px) {
  #Sale_banner {
    padding: 20px; } }
